<div>
   <h1> Hola desde handlebars </h1>
   {{#each products}}

   <div class="col-md-2 mb-2">
        <div class="card">
                <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">${{this.price}}</p>
                <p class="card-text">stock: {{this.stock}}</p>
                <button type="button" class="btn btn-secondary">Agregar al carrito</button>
            </div>
        </div>
    </div>
<br>
<br>
  {{/each}}

<div>
      {{#if paginationData.prevLink}}
         <a href="{{paginationData.prevLink}}">Anterior</a>
      {{/if}}
   </div>
   <br>
   <div>
      {{#if paginationData.nextLink}}
         <a href="{{paginationData.nextLink}}">Siguiente</a>
      {{/if}}
   </div>


<script src="/js/index.js"></script>